/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Centering the container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* Style for the card */
.card {
  width:400px;
  height:600px;
  padding: 40px;
  background-color: #f0f0f0;
  text-align: center;
  border-radius: 15px;
}

/* Style for the product image */
.card-image {
  width:300px; /* Limiting the max-width for larger screens */
  margin: 20px auto; /* Centering the image within the card */
  display: block;
}

/* Style for the title */
.card-title {
  font-size: 55px;
  font-weight:bold;
  margin-bottom: 10px;
}

/* Style for pricing information */
.pricing-info {
  font-size: 35px;
  margin-bottom: 15px;
  font-weight:bold;
}

/* Style for the description */
#des {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
}

/* Style for the Buy Now button */
button {
  padding: 12px 24px;
  border-radius: 10px;
  border: none;
  background-color: rgb(250, 0, 0);
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 0 auto; /* Centering the button within the card */
}
